@import "tailwindcss";

@theme {
  --color-lightGreen: #CCFFCB;
  --color-lightRed: #FFD6D3;
  --color-lightYellow: #FFFA8D;
  --color-accent: #2579F5;
  --color-blue2: #BDE6FF;
  --color-blue3: #95D0FF;
  --color-blue4: #6EB7FE;
  --color-blue6: #2579F5;
  --color-gray1: #F8F8F8;
  --color-gray2: #E8E8E8;
  --color-gray3: #D4D4D4;
  --color-gray5: #979797;
  --colot-gray8: #454343;
}

.box-1 {
  border-radius: 8px !important;
  box-shadow: none !important;
}

.tooltip-1{
  background-color: #454343 !important;
}