@import 'tailwindcss';

@theme {
  --color-lightGreen: #ccffcb;
  --color-lightRed: #ffd6d3;
  --color-lightYellow: #fffa8d;
  --color-accent: #2579f5;
  --color-blue1: #e7f7ff;
  --color-blue2: #bde6ff;
  --color-blue3: #95d0ff;
  --color-blue4: #6eb7fe;
  --color-blue6: #2579f5;
  --color-blue7: #1c4cd3;
  --color-gray1: #f8f8f8;
  --color-gray2: #e8e8e8;
  --color-gray3: #d4d4d4;
  --color-gray5: #979797;
  --color-gray7: #6e6e6e;
  --color-gray8: #454343;
  --color-green3: #d2fed6;
}

.box-1 {
  border-radius: 8px !important;
  box-shadow: none !important;
}

.tooltip-1 {
  background-color: #454343 !important;
}

.tooltip-2 {
  background-color: #fff !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
