@import "tailwindcss";

@theme {
  --color-lightGreen: #CCFFCB;
  --color-lightRed: #FFD6D3;
  --color-lightYellow: #FFFA8D;
  --color-accent: #2579F5;
  --color-blue2: #BDE6FF;
  --color-blue3: #95D0FF;
  --color-blue4: #6EB7FE;
  --color-blue6: #2579F5;
  --color-gray2: #E8E8E8;
}