@import 'tailwindcss';

:root {
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--text-b3);
  line-height: var(--text-b3--line-height);
}

::-webkit-scrollbar {
  width: 8px; /* You can adjust or remove width */
  background: transparent; /* Hide the scrollbar background */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Thumb still visible */
  border-radius: 4px;
}

/* Firefox */
html {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* thumb color | track color */
}
